.banner {
    width: 100%;
    height: 450px;
    background: url(../../assets/about\ us\ photo\ 1.png) no-repeat center/cover;
}

.container {
    display: flex;
    align-items: center;
    height: 100%;
}

.banner h1 {
    width: 30%;
    color: #f3e89f;
    font-size: 45px;
    font-weight: 300;
}

.banner span {
    font-weight: 700;
    font-family: montserrat;

}

.banner__info {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
}

.banner__info p {
    font-size: 14px;
    margin-top: 3px;
}

.banner__info h3 {
    color: red;
    font-size: 35px;
    font-weight: 450;
    width: 100%;
}

.banner__info span {
    font-weight: 700;
}